
@font-face{
font-family: "Quicksand";
    src: url("../fonts/Quicksand_Book.otf");
}

@font-face{
    font-family: "Roboto Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf");
}

@font-face{
    font-family: "Mulish Regular";
    src: url("../fonts/Mulish-Regular.ttf");
}

body{

    background-color: black;

}

h2{
    font-family: "Roboto Bold" ;
}

h5{
  
    font-size: 30px;
    font-family: "Roboto Bold" ;
}


p{
    font-family: "Mulish Regular" ;
}




.card-body{
    color: white;
}



#linkLeiste{
    position: absolute;
}


.carousel-inner{
    margin-bottom: 100px;
}




.logo{
    margin-top: 100px;
}


.background-gradient1{

    background-image: linear-gradient(to top, #000000, #ffffff);
}



.background-gradient2{
    background-image: linear-gradient(to bottom, #000000, #ffffff);
}


.col-md{
    margin-bottom: 100px;
}

.fab, .fas{
    margin: 10px;
    transition: transform 0.3s ease;
}

.fab:hover, .fas:hover{
    transform: scale(1.1);
}


.img-fluid.logo{
    transition: transform 0.3s ease;
}

.img-fluid.logo:hover{
    transform: scale(1.1);
}

#bewerbungsfoto{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
}

.card:first-of-type {
    color: white;
    border: 1px solid gray;
    margin: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.card:first-of-type:hover{
    transform: scale(1.01);
}


#lastElement, #preLastElement{
    color: black;   
}

#btn-back-to-top {
    position: fixed;
    opacity: 0.5;
    bottom: 20px;
    right: 20px;
    display: none;
  }

#btn-back-to-top:hover{

    opacity: 1;
}


.row{
    margin: 0px;
}


.card-img-top:nth-of-type(3){
    width: auto;
    height: 200px;
}

.modal-backdrop{
    background-color: transparent;
}

#bewerbungsfoto{
    margin: 0;
    border:  5px solid black;
}


.offcanvas-size-xl {
    --bs-offcanvas-width: min(65vh, 50%) !important;
}

