@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf")
    ;
}

@font-face{
    font-family: "Sunshine";
    src: url("../fonts/Maximum\ Impact.ttf")
    ;
}

body{

    background-color: black;
    font-family: "Roboto" ;
  
}



h5{
    font-family: "Sunshine";
}

.card-body{
    color: white;
}



#linkLeiste{
    position: absolute;
}


.carousel-inner{
    margin-bottom: 100px;
}


.logo{
    margin-bottom: 50px;
}


.background-gradient1{

    background-image: linear-gradient(to top, #000000, #ffffff);
}

.offcanvas {
    background-color: #ffffff; /* Set your desired background color here */
  }

.background-gradient2{
    background-image: linear-gradient(to bottom, #000000, #ffffff);
}


.fab, .fas{
    margin: 10px;
    transition: transform 0.3s ease;
}

.fab:hover, .fas:hover{
    transform: scale(1.1);
}


.img-fluid.logo{
    transition: transform 0.3s ease;
}

.img-fluid.logo:hover{
    transform: scale(1.1);
}

#bewerbungsfoto{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    margin-top: 50px;
    transition: transform 0.3s ease;
}

#bewerbungsfoto:hover{
    transform: scale(1.1);
}


.card:first-of-type {
    color: white;
    border: 1px solid gray;
    margin: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.card:first-of-type:hover{
    transform: scale(1.01);
}


#lastElement, #preLastElement{
    color: black;   
}


.row{
    margin: 0px;
}


.card-img-top:nth-of-type(3){
    width: auto;
    height: 200px;
}

.modal-backdrop{
    background-color: transparent;
}

#bewerbungsfoto{
    margin: 0;
    border: solid 10px black;
}


