body{
    background-image: ulr("img/code.jpeg");
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



.background-gradient1{
    background-image: linear-gradient(to top, #000000, #ffffff);
}

.background-gradient2{
    background-image: linear-gradient(to bottom, #000000, #ffffff);
}


.fab, .fas{
    margin: 10px;
    transition: transform 0.3s ease;
}

.fab:hover, .fas:hover{
    transform: scale(1.1);
}



#bewerbungsfoto{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    margin-top: 50px;
    transition: transform 0.3s ease;
}

#bewerbungsfoto:hover{
    transform: scale(1.1);
}

.card#about{
    border: none;
}


.card:first-of-type {
    color: white;
    border: 1px solid gray;
    margin: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.card:first-of-type:hover{
    transform: scale(1.01);
}


#lastElement, #preLastElement{
    color: black;   
}




.card-img-top:nth-of-type(3){
    width: auto;
    height: 200px;
}




.card-img-top{
    width: auto;
    height: 300px;
}

.aboutme{
    border-radius: 10px solid black;
}


.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vw, 600px) !important;
}



